@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Basic CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common CSS Property */
.text-primary {
  color: #fd6e0a;
}
.text-secondary {
  color: #757575;
}
.dark {
  color: #181818;
}
.dark2 {
  color: #474747;
}
.bg-secondary {
  background: #fff8f3;
}
.btn {
  background: #fd6e0a;
  color: white;
  padding: 18px 35px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* Header Section */
header {
  background: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}
nav .logo {
  font-size: 45px;
  font-weight: 700;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
}

/* Banner Styles */
.banner {
  margin: 0 38px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content .banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-content .banner-title {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-content .banner-description {
  width: 585px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-content button {
  padding: 17px 19px;
  margin-right: 30px;
}
.banner-content .contact-btn {
  padding: 17px 19px;
  background: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
}
.banner-img {
  width: 584px;
}
.banner-img img {
  width: 100%;
}

/* Main Styles */
main {
  width: 1140px;
  margin: 0 auto;
}

/* About Section */
#about {
  width: 1140px;
  height: 550px;
  padding: 130px 100px;
  text-align: center;
  border-radius: 10px;
}
#about .about-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#about .about-description {
  width: 827px;
  margin: auto;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}
.about-item-container {
  display: flex;
  justify-content: space-evenly;
}
.item-title {
  font-size: 20px;
}
.item-description {
  font-size: 20px;
  font-weight: bold;
}

/* What i do Section */
#skill {
  text-align: center;
}
#skill .skill-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#skill .skill-description {
  font-size: 18px;
  line-height: 30px;
  width: 909px;
  margin: auto;
  margin-bottom: 50px;
}
.skill-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.skill-card-container .skill-card {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  text-align: left;
}
.skill-card-container .skill-card img {
  width: 44px;
  margin-bottom: 10px;
}
.skill-card-container .skill-card .skill-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.skill-card-container .skill-card .skill-card-description {
  font-size: 16px;
  line-height: 28px;
}

/* Resume Section */
#resume {
  margin-top: 0;
}
#resume .resume-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.resume-column-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.resume-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.resume-column .resume-column-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.resume-column .resume-column-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resume-column .resume-column-box .title {
  font-size: 25px;
  font-weight: bold;
}
.resume-column .resume-column-box .subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume-column .resume-column-box .description {
  font-size: 16px;
  line-height: 28px;
  width: 500px;
  margin-bottom: 20px;
}
#resume .resume-button {
  width: 100%;
  text-align: center;
}
#resume .resume-button {
  width: 250px;
  margin: auto;
  text-align: center;
}

/* Footer Section */
footer {
  width: 100%;
  height: 780px;
  background: #FFF8F3;
  padding: 100px 0;
}
footer .footer-container {
  width: 1140px;
  margin: 0 100px 0 200px;
  display: flex;
  gap: 20px;
}
footer .footer-content {
  width: 50%;
}
footer .footer-content .footer-title{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .footer-content .footer-description {
  width: 550px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}
footer .footer-social {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
footer .footer-social img {
  width: 24px;
}
footer form {
  width: 50%;
}
footer form .form-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer form input {
  padding: 18px 30px;
  font-size: 16px;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
footer form textarea {
  padding: 18px 30px;
  font-size: 16px;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}